/* Base HTML Styles */

/* Can import fonts from Google fonts and reference them in CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

[data-theme="default"] {
    --body-bg-color: #FAFAFA;
    --card-bg-color: #ffffff;
    --box-shadow-color: rgba(0,0,0,0.2);
    --submit-btn-shadow: #979797; 
    --text-color: #333333;
    --switch-on-color: #444352;
    --switch-off-color: #cccccc;
    --toggler-color: #ffffff;
    --submit-btn-color: #ffffff;
    --submit-btn-bg-color:#111111;
    --menu-on-color: #666571;
    --header-bg-color: #111111;
    --header-color: #ffffff;
    --slider-bg-color: #cccccc;
    --slider-button: #FFFFFF;
    --slider-bg-on-color: #2196F3;
    --skills-bg: #e0ecff;
    --bg-offset: #f7f7f7;    
    --fall-text: hsl(181, 100%, 50%);
  }

  /* Dark Mode Theme */
  [data-theme="dark"] {
    --body-bg-color: #131313;
    --card-bg-color: #a7a7a7;
    --box-shadow-color: rgba(18, 18, 19, 0.2);
    --submit-btn-shadow: #c3c3c3; 
    --text-color: #efefef;
    --toggler-color: #444352;
    --switch-on-color: #ffffff;
    --switch-off-color: #cccccc;
    --submit-btn-color: #333333;   
    --submit-btn-bg-color: #ffffff;
    --menu-on-color: #cccccc;
    --header-bg-color: #ffffff;
    --header-color: #111111;
    --slider-bg-color: #cccccc;
    --slider-button: #FFFFFF;
    --slider-bg-on-color: #2196F3;
    --skills-bg: #2196F3;
    --bg-offset: #161616;
    --fall-text: #97eeff;
  }

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', Arial, sans-serif;  
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Gudea', Arial, sans-serif;      
    margin-top: 64px;
    margin-bottom: 16px;
    text-align: center;
}

h2, h3, h4, h5, p, a {
    opacity: 0.9;
}

body,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global Styles */
header a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

header button {
    all: unset;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

.menu-button {
    cursor: pointer;
}

.container {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    transition: background-color .45s ease-in;
  }

label, input, textarea, select {
    width: 100%;
}

input, textarea, select {
    padding: 8px;
}


/* Components */

/* Header & Nav bar  */

/* Begin of Toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg-color);  
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color:  var(--slider-button);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--slider-bg-on-color);
}
 
input:focus + .slider {
    box-shadow: 0 0 1px var(--slider-bg-on-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

  /* End Toggle switch  */

.nav-icons  {
    height: 30px;
    align-self: right;
    display: flex;
    justify-content: right;
}

.menu-icon {
    height: 30px;
    margin-left: 32px;
    align-self: center;
    transition: all 2s ease;
}

.menu-close {
    height: 30px;
    margin-left: 32px;
    align-self: center;
    transition: all 2s ease;    
}

.logo {
    height: 50px;

}

.mobile-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--body-bg-color);
}

.desktop-nav {
    display: none;
    margin-left: 32px;
}

.mobile-nav a {
    display: block;
    color: var(--body-bg-color);
    background-color: var(--text-color);
    padding: 4px 16px;
    text-align: center;
    border-bottom: 1px solid var(--body-bg-color);
    padding: 16px;
    transition: all 1s ease;
}

.mobile-nav a:hover {
    background-color: var(--menu-on-color);
}

.logo-text {
    border-style: solid;
    border-color: var(--body-bg-color);
    border-radius: 50%;
    border-width: 1px;
    padding: 8px;
    text-decoration: none;
    transition: all 1s ease;
    white-space: nowrap;
}

.logo-text:hover {
    color: var(--text-color);
    background-color: var(--body-bg-color);
    text-decoration: none;
}

/* only show if width is greater than 768px */
@media (min-width: 768px) {
    
    h1 {
        font-size: 4rem;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .nav-icons  {
        justify-content: right;
    }
        
    nav {
        display: inline-block;
    }

    header nav ul {
        display: flex;
        gap: 24px;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-nav {
        display:none;
    }

    .menu-icon {
        display: none;
    }

    .mobile-header {
        align-items: center;
        justify-content: space-right;
        width: 100%;
        padding: 16px 56px;
    }    
    
}

/* Hero Main */

.hero-main {
    display: flex;
    justify-content: center;
    padding: 0 0;
    flex-direction: column;
    position: relative;
}

.fall-main {
    color: var(--fall-text);
    opacity: 0.1;
    font-family: monospace, serif;
    font-weight: 300;
    transform: translateY(-100%);    
    position: absolute;
    display: flex;
    top: 16px;
    justify-content: center;
    width: 100%;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;

}

.fall-1 {
    font-size: 1rem;
    opacity: 0.1;
    animation: fall-animation 20s linear infinite;
    animation-delay: -2s;
}

.fall-2 {
    font-size: 0.9rem;
    opacity: 0.2;
    animation: fall-animation 17s linear infinite;
    animation-delay: -5s;
}

.fall-3 {
    font-size: 0.8rem;
    opacity: 0.3;
    animation: fall-animation 15s linear infinite;
    animation-delay: -10s;
    justify-content: left;
} 

.fall-4 {
    font-size: 1rem;
    opacity: 0.1;
    animation: fall-animation 10s linear infinite;
    animation-delay: -1s;
    justify-content: right;
}

.fall-5 {
    font-size: .7rem;
    opacity: 0.2;
    animation: fall-animation 5s linear infinite;
    animation-delay: -12s;
}

.fall-6 {
    font-size: 0.89rem;
    opacity: 0.1;
    animation: fall-animation 8s linear infinite;
    animation-delay: -7s;
}

.fall-7 {
    font-size: .6rem;
    opacity: 0.2;
    animation: fall-animation 9s linear infinite;
    animation-delay: -8s;
}

.fall-8 {
    font-size: 0.8rem;
    opacity: 0.1;
    animation: fall-animation 12s linear infinite;
    animation-delay: 0s;
    justify-content: right;
}

.fall-wide {
    display: none;
}

@keyframes fall-animation {
    from { transform: translateY(-50%);
    }
    to { transform: translateY(100%);
    }
}

.hero-info h1, .hero-info h3 {
    padding: 32px 0px 0px ;
    margin: auto;
}
.hero-info {
    /* margin-bottom: 80px; */
    top: -200px;
    padding-bottom: 32px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide {
    100% { top: 0; }
}

.hero-article ul {
    padding: 32px 0 32px;
    justify-content: center;
    width:100%;
}

.hero-info, .hero-main {
    text-align: center;
    width: 100%;
}

.hero-info {
        background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8));
        color: white;
}

.hero-img {
    align-self: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;   
    background-image: url("/Portfolio/img/Profile-2.jpg");
    height: 250px;
    width: 250px;
}

.about-btn:hover {
    text-decoration: none;
    background-color: var(--menu-on-color);
}

.hero-img p, .hero-img div, .hero-img svg{
    display: flex;
    text-align:center;
    align-self: center;
    transition: background 0s linear, transform 1s ease;
}

.hero-img svg {
    background: transparent;
    height: 50px;
    display: none;
}

.hero-main p {
    padding-bottom: 16px;
    opacity: 0.6;
}

@media (min-width: 768px) {

    .fall-wide {
        display: flex;
    }

@keyframes fall-animation {
    from { transform: translateY(-100%);
    }
    to { transform: translateY(600%);
    }
}

    .hero-about {
        display: flex;
        flex-direction: right;
        justify-content: center;
        margin: auto;
        width: 60%;
        padding: 32px;
    }

    .hero-article h3 {
        font-size: 1.5rem;
    }

    .hero-article li {
        font-size: 1.3rem;
    }

    .hero-img {
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .hero-img svg {
        display: flex;
        flex: row;
        justify-content: center;
    }
   
    .hero-img div {
        flex: 1 1 75px;
        justify-content: center;
        text-align: center;
        align-self: center;
        position: 32px;
    }

    .html-icon {
        min-width: 140px;
    }

    .hero-img:hover {
    background-image: url('/Portfolio/img/Profile-2.jpg');
    animation: fadeIn 4s;

    .html-icon {
    transform: translate(130px, -50px) rotateY(360deg) scale(1.2);
    }

    .css-icon {
        transform: translate(-130px, -50px)  rotateY(360deg) scale(1.2);
        }

    .js-icon {
        transform: translate(220px, -10px)  rotateY(360deg) scale(1.2);
            }        

    .python-icon {
        transform: translate(150px, 30px) rotateY(360deg) scale(1.2);
    }

    .django-icon {
        transform: translate(0px, 140px)  rotateY(360deg) scale(1.3);
        }     
    
    .react-icon {
        transform: translate(-230px, -10px) rotateY(360deg) scale(1.2);
    }

    .github-icon {
        transform: translate(-160px, 30px) rotateY(360deg) scale(1.2);
    }

        .move {
        background: transparent;
        scale: 1.1;
        rotate: 360deg;
        animation: my-animation linear infinite 5s;
    }

    @keyframes spin {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg),  translate(200px, 100px) ;
                }        
            }

    @keyframes my-animation {
        from {
            transform: rotateY(0deg), translate(200px, 100px) ;
        }
        to {
            transform: rotateY(360deg), translate(200px, 100px) ;
                }        
            } 

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    } 

    @keyframes fadeInOut {
        0%, 100% { opacity: 0; }
        85% { opacity: 1; }
    } 

    @keyframes fall-animation {
        from { transform: translateY(-100%);
        }
        to { transform: translateY(500%);
        }
    }
}

    @keyframes spin {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg) ;

                }        
            }

        }

        @keyframes fall-animation {
            from { transform: translateY(-100%);
            }
            to { transform: translateY(500%);
            }
        }

/* About */

.about {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
    font-size: 1.1rem;
    font-family: 'Lato', Arial, sans-serif;  
    justify-content: center;
    font-weight: 300;
    width: 100%;
}

.about a {
    color: var(--text-color);
}   

.about-body, .hero-article {
    display: flex;
    margin: auto;     
    padding: 36px;
    width: 100%;
    flex-direction: column;
}

.about li {
    padding-top: 8px;
    }

#about-me article h2 {
    font-weight: 400;
    opacity: 0.8;
}

.about article {
    width: 100%;
    padding: 8px 8px;
    flex: 1;  
}

.bg-offset {
    background-color: var(--bg-offset);
}

.img-rounded {
    border-radius: 4px;
}

#skills li {
    display: inline;
    border-width: 1px;
    border-radius: 4px;
    padding: 4px 16px;
    line-height: 2;
    white-space: nowrap;
    background-color: var(--skills-bg);
    font-size: 1.1rem;
    opacity: 0.8;
}

.pics {
    display:flex;
}

.sap-svg {
    padding-top: 0px;
}

@media (min-width: 768px) {

    .about-body {
        padding: 48px 0;
        max-width: 700px;
    }

    .about {
        max-width: 100%;
        margin: auto;
        padding: 48px 96px;
    }

    .mantras {
        display: flex;
        flex-direction: row;
        max-width: 700px;
        margin: auto;
    }

    .mantra-art {
        margin: 0;
    }

    .about-img-quote {
        max-height: 320px;
        max-width: 100%;
        height: auto;
    }
    
    #skills articles {
        flex-direction: row;

    }
    
}

/* Portfolio */

.project-cards {
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    margin: auto;
}

.card {
    width: 66%;
    padding: 32px 32px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 2s ease;
    margin: auto;
    margin-bottom: 32px;
    background-color: var(--card-bg-color);
}

.card h4 {
    margin: 8px 0;
}

.card img {
    border-radius: 4px;
    border-style: solid;
    border-color: #c3c3c3;
    border-width: 1px;    
}

@media (min-width: 768px) {
    .project-cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        justify-content: space-around;
    }

    .card {
        width: 100%;
        margin: 16px;
        flex: 1 1 300px;
        min-width: 300px;
        max-height: 400px;
        max-width: 300px;
    }    
}    

.card:hover {
    transition: 0.9s;
    transform: scale(1.1); 
    
}

/* Contact form */

.google-map {
    position: relative;
    padding-bottom: 50%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0; 
    top: 0;
    position: absolute;
}

.contact-form h2 {
    padding: 56px 0 32px;
}

.contact-form p {
    padding: 16px 0;
}

#contact {
    padding: 32px 56px;
}

#contact-name {
    margin-top: 32px;
}
#contact input {
    margin-bottom: 16px; 
}

#contact input[type="submit"] {
    margin-top: 24px;
}

@media (min-width: 768px) {
 
    .contact-form {
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin-right: 56px; 
        flex: 1;
        align-self: top;
        font-size: 1.2rem;
    }

    #contact {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 32px;
        padding: 56px;
        justify-content: center;
    }

    .contact-form h2 {
        padding-top: 0px;
        font-size: 2rem;
    }

    .contact-form p {
        padding-top: 0;
        padding-bottom: 16px;
    }

    #contact input {
        margin-bottom: 16px; 
    }
    
    #contact input[type="submit"] {
        margin-top: 40px;
    }

    
    .google-map {
        padding: 50px;
        flex: 1;
        min-width: 300px;
        max-width: 600px;
        width: 100%;
    }

    .submit-btn {
        margin-top: 56px;
    }

}

.submit-btn, .about-btn {
    background-color: var(--submit-btn-bg-color);
    color: var(--submit-btn-color);
    border-radius: 4px;
    box-shadow: 2px 3px 3px var(--submit-btn-shadow);
    width: max-content;
    border: 0;
    cursor: pointer;
    padding: 4px 8px;
    transition: all 1s ease;
}

#contact input[type="submit"]:hover {
    background-color: var(--menu-on-color);
}

.contact-icons {
    display: flex;
}

.contact-icons li {
    padding: 16px;
}

.contact-form a svg {
    height: 50px;
    color: var(--submit-btn-bg-color);
    transition: all 1s ease;
}

.contact-form a svg:hover {
    color: var(--menu-on-color);
}

footer {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

footer a {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

/* Utilities */


/* Use js to toggle show/hide the nav menu for mobile */
.display-none {
    display: none;
}

.no-underline {
    text-decoration: none;
}