/* Base HTML Styles */

/* Can import fonts from Google fonts and reference them in CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
/* CSS variable for colours can be referenced eg. var(--pink) */
/* :root {
	--pink: #f38fb1;
	--yellow: #f4d040;
	--green: #57d68d;
	--blue: #5dade2;
	--black: #111111;
	--gray: #c3c3c3; 
    --darkgrey: #454545;
} */

[data-theme="default"] {
    --body-bg-color: #FAFAFA;
    --card-bg-color: #ffffff;
    --box-shadow-color: rgba(0,0,0,0.2);
    --submit-btn-shadow: #979797; 
    --text-color: #333333;
    --switch-on-color: #444352;
    --switch-off-color: #cccccc;
    --toggler-color: #ffffff;
    /* additional */
    --submit-btn-color: #ffffff;
    --submit-btn-bg-color:#111111;
    --menu-on-color: #666571;
    --header-bg-color: #111111;
    --header-color: #ffffff;
    --slider-bg-color: #cccccc;
    --slider-button: #FFFFFF;
    --slider-bg-on-color: #2196F3;
    --skills-bg: #e0ecff;
    --bg-offset: #f7f7f7;    
    --fall-text: hsl(181, 100%, 50%);
    /* --skills-bg: #dfdfdf; */
    /* --text-color: #ffffff;
    --text-bg-color: #111111; */
  }

  /* Dark Mode Theme */
  [data-theme="dark"] {
    --body-bg-color: #131313;
    --card-bg-color: #a7a7a7;
    --box-shadow-color: rgba(18, 18, 19, 0.2);
    --submit-btn-shadow: #c3c3c3; 
    --text-color: #efefef;
    --toggler-color: #444352;
    --switch-on-color: #ffffff;
    --switch-off-color: #cccccc;
    --submit-btn-color: #333333;   
    --submit-btn-bg-color: #ffffff;
    --menu-on-color: #cccccc;
    --header-bg-color: #ffffff;
    --header-color: #111111;
    --slider-bg-color: #cccccc;
    --slider-button: #FFFFFF;
    --slider-bg-on-color: #2196F3;
    --skills-bg: #2196F3;
    --bg-offset: #161616;
    /* --fall-text: #FAFAFA; */
    --fall-text: #97eeff;
    /* --skills-bg: #aeaeae; */
    /* --text-color: #ffffff;
    --text-bg-color: #111111; */
  }

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
    line-height: 1.5;
	/* font-family: 'Inter', Arial, Helvetica, sans-serif; */
    font-family: 'Lato', Arial, sans-serif;  
	/* color: var(--text-color); */
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    /* padding-top: 64px; */
    font-family: 'Gudea', Arial, sans-serif;      
    margin-top: 64px;
    margin-bottom: 16px;
    text-align: center;
    /* line-height: 1.5; */
}

h2, h3, h4, h5, p, a {
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Gudea', Arial, sans-serif;    */
    opacity: 0.9;
}

body,
/* h1, */
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global Styles */
header a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

header button {
    all: unset;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-color);
}
/* 
h1 {
    padding-top: 16px;
} */

p {
    /* font-size: 1.5rem; */
    line-height: 1.5;
}

a {
    /* background-color: var(--header-bg-color);
    color: var(--header-color); */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}
/* header a {
        text-decoration: none;
    } */

.menu-button {
    cursor: pointer;
}

.container {
    /* height: 100vh;
    width: 100vw;
    display: flex; */
    background-color: var(--body-bg-color);
    /* background-color: rgba(255,255,255,0.8);
    background-image: url(/Portfolio/img/bg_img.jpg); */
    /* background-blend-mode: lighten; */
    color: var(--text-color);
    transition: background-color .45s ease-in;
  }

label, input, textarea, select {
    /* display: block; */
    width: 100%;
}

input, textarea, select {
    padding: 8px;
}


/* Components */

/* Header & Nav bar  */

/* Begin of Toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg-color);  
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color:  var(--slider-button);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--slider-bg-on-color);
}
 
input:focus + .slider {
    box-shadow: 0 0 1px var(--slider-bg-on-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

  /* End Toggle switch  */


.nav-icons  {
    height: 30px;
    align-self: right;
    display: flex;
    justify-content: right;
}

.menu-icon {
    height: 30px;
    margin-left: 32px;
    align-self: center;
    transition: all 2s ease;
}

.menu-close {
    height: 30px;
    margin-left: 32px;
    align-self: center;
    transition: all 2s ease;    
}

.logo {
    height: 50px;

}

.mobile-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--body-bg-color);
}

.desktop-nav {
    display: none;
    margin-left: 32px;
}

.mobile-nav a {
    display: block;
    color: var(--body-bg-color);
    background-color: var(--text-color);
    padding: 4px 16px;
    text-align: center;
    border-bottom: 1px solid var(--body-bg-color);
    padding: 16px;
    transition: all 1s ease;
}

.mobile-nav a:hover {
    background-color: var(--menu-on-color);
}


.logo-text {
    border-style: solid;
    border-color: var(--body-bg-color);
    border-radius: 50%;
    border-width: 1px;
    padding: 8px;
    text-decoration: none;
    transition: all 1s ease;
    white-space: nowrap;
}

.logo-text:hover {
    color: var(--text-color);
    background-color: var(--body-bg-color);
    text-decoration: none;
}

/* only show if width is greater than 768px */
@media (min-width: 768px) {
    
    h1 {
        font-size: 4rem;
    }


    header {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .nav-icons  {
        justify-content: right;
    }
        
    nav {
        display: inline-block;
    }

    header nav ul {
        display: flex;
        gap: 24px;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-nav {
        display:none;
    }

    .menu-icon {
        display: none;
    }

    .mobile-header {
        align-items: center;
        justify-content: space-right;
        width: 100%;
        padding: 16px 56px;
    }    
    
}

/* Hero Main */


.hero-main {
    display: flex;
    justify-content: center;
    padding: 0 0;
    /* margin: 0 0 0 48px; */
    /* margin-bottom: 120px; */
    flex-direction: column;
    /* border-style: solid; */
    position: relative;
}

.fall-main {
    color: var(--fall-text);
    opacity: 0.1;
    /* font-family: 'Roboto Slab', serif;    */
    font-family: monospace, serif;
    font-weight: 300;
    transform: translateY(-100%);    
    position: absolute;
    top: 16px;
}

.fall-1 {
    /* top: 16px; */
    font-size: 1rem;
    opacity: 0.1;
     animation: fall-animation 20s linear infinite;
     animation-delay: -2s;
}

.fall-2 {
    /* top: 32px; */
    font-size: 0.9rem;
    opacity: 0.2;
    /* transform: translateY(-100%); */
    animation: fall-animation 17s linear infinite;
    animation-delay: -5s;
}


.fall-3 {
    /* top: 56px; */
    font-size: 0.8rem;
    opacity: 0.3;
    transform: translateY(-100%); 
    animation: fall-animation 15s linear infinite;
    animation-delay: -10s;
} 

.fall-4 {
    /* top: 72px; */
    font-size: 1rem;
    opacity: 0.1;
     animation: fall-animation 10s linear infinite;
     animation-delay: -1s;
}

.fall-5 {
    /* top: 120px; */
    font-size: .7rem;
    opacity: 0.2;
     animation: fall-animation 5s linear infinite;
     animation-delay: -12s;
}

.fall-6 {
    /* top: 136px; */
    font-size: 1.1rem;
    opacity: 0.3;
     animation: fall-animation 8s linear infinite;
     animation-delay: -7s;
}

.fall-7 {
    /* top: 184px; */
    font-size: .6rem;
    opacity: 0.2;
     animation: fall-animation 9s linear infinite;
     animation-delay: -8s;
}

.fall-8 {
    /* top: 160px; */
    font-size: 0.9rem;
    opacity: 0.2;
     animation: fall-animation 12s linear infinite;
     animation-delay: 0s;
}


@keyframes fall-animation {
    from { transform: translateY(-100%);
    }
    to { transform: translateY(500%);
    }
}

.hero-info h1, .hero-info h3 {
    padding: 32px 0px 0px ;
    /* align-self: center; */
    margin: auto;
}
.hero-info {
    /* background-color: var(--menu-on-color);
    background: radial-gradient(#e66465, #9198e5); */
    /* animation: fadeIn 6s; */
    /* position: relative; */
    /* animation: slide 0.5s forwards; */
    /* animation-fill-mode: forwards; */
    margin-bottom: 80px;
    /* width: 80%; */
    /* margin: auto; */

    top: -200px;
    /* border-radius: 5px; */


}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide {
    /* 0% { opacity: 0; transform(-100px,0px); } */
    100% { top: 0; }
}
/* 
@keyframes fadeBackground {
    from { background-color: var(--menu-on-color); }
    to { background-color: var(--body-bg-color) ; }
} */

.hero-article ul {
    padding: 32px 0 32px;
    justify-content: center;
    width:100%;
}


.hero-info, .hero-main {
    /* justify-content: left; */
    text-align: center;
    /* align-self: center; */
    /* position: relative; */
    /* background-image: none; */
    /* background-color: transparent; */
    
    /* border-style: solid; */
    white-space: nowrap;
}

.hero-info {
    /* background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0.5)), url(/Portfolio/img/shecodes3dkey.jpg); */
        background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8));
        color: white;
}

.hero-img {
    /* margin-top: 32px;
    margin-bottom: 64px; */
    /* margin: 0px 0; */
    /* margin-bottom: 64px;     */
    /* background-size: 70%; */
    align-self: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;   
    background-image: url("/Portfolio/img/Profile-2.jpg");
    height: 250px;
    width: 250px;
    /* background-position: center; */

}

.about-btn:hover {
    text-decoration: none;
    background-color: var(--menu-on-color);
}

.hero-img p, .hero-img div, .hero-img svg{
    display: flex;
    /* background-image: none; */
    /* background-color: transparent; */
    text-align:center;
    align-self: center;
    /* border-style: dotted; */
    /* background-color: var(--body-bg-color); */
    /* height: 100%; */
    /* width:400px; */
    transition: background 0s linear, transform 1s ease;
}

.hero-img svg {
    background: transparent;
    height: 50px;
    display: none;
}

.hero-main p {
    padding-bottom: 16px;
    opacity: 0.6;
}

/* .move {
    display: none;
} */



@media (min-width: 768px) {

    .hero-about {
        display: flex;
        flex-direction: right;
        justify-content: center;
        /* border-style: solid; */
        margin: auto;
        width: 60%;
        padding: 32px;
    }

    .hero-article h3 {
        font-size: 1.5rem;
    }

    .hero-article li {
        font-size: 1.3rem;
    }

    /* .hero-article {
        border-style: solid;
    } */

    .hero-img {
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        /* border-style: solid;
        border-width: 1px; */
    } 

    .hero-img svg {
        display: flex;
        flex: row;
        justify-content: center;
        /* border-style: solid; */
    }
   
    .hero-img div {
        flex: 1 1 75px;
        justify-content: center;
        text-align: center;
        align-self: center;
        position: 32px;
        /* border-style: solid;
        border-color: red; */
        /* width: auto; */
        
    }

    .html-icon {
        min-width: 140px;
    }

    .hero-img:hover {
    /* background-image: url('/Portfolio/img/TN_Logo.png'); */
    background-image: url('/Portfolio/img/Profile-2.jpg');
    /* background-position-y: -20px; */
    /* animation: fadeInOut 3s linear forwards; */
    animation: fadeIn 4s;
    /* transition: all 1s ease; */

    .html-icon {
    transform: translate(130px, -50px) rotateY(360deg) scale(1.2);
    /* background: transparent; */
    /* transition: all 1s ease; */
    }

    .css-icon {
        transform: translate(-130px, -50px)  rotateY(360deg) scale(1.2);
        /* background: transparent;         */
        /* transition: all 1s ease; */
        }

    .js-icon {
            transform: translate(220px, -10px)  rotateY(360deg) scale(1.2);
            /* transition: all 1s ease; */
            }        


    .python-icon {
        transform: translate(150px, 30px) rotateY(360deg) scale(1.2);
        /* transition: all 1s ease; */
        /* animation: spin 2s linear infinite; */
    }

    .django-icon {
        transform: translate(0px, 140px)  rotateY(360deg) scale(1.3);
        /* transition: all 1s ease; */
        }     
    
    .react-icon {
        transform: translate(-230px, -10px) rotateY(360deg) scale(1.2);
        /* transition: all 1s ease; */
    }

    .github-icon {
        transform: translate(-160px, 30px) rotateY(360deg) scale(1.2);
        /* transition: all 1s ease; */
    }

    /* .html-icon, .css-icon, .python-icon, .js.icon { */
        .move {
        background: transparent;
        scale: 1.1;
        rotate: 360deg;
        animation: my-animation linear infinite 5s;
        /* animation-name: rotate;
        animation-iteration-count: infinite; */
        /* transform: rotate(360deg) rotateY(360deg); */
    }

    
    /* .python-icon:hover {
        transform: translate(200px, 100px) ; */
        /* animation: spin 2s linear infinite; */
    /* } */

    @keyframes spin {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg),  translate(200px, 100px) ;
                }        
            }

    @keyframes my-animation {
        from {
            transform: rotateY(0deg), translate(200px, 100px) ;
        }
        to {
            transform: rotateY(360deg), translate(200px, 100px) ;
                }        
            } 

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    } 

    @keyframes fadeInOut {
        0%, 100% { opacity: 0; }
        85% { opacity: 1; }
    } 

    @keyframes fall-animation {
        from { transform: translateY(-100%);
        }
        to { transform: translateY(500%);
        }
    }
}

/* .hero-img {
    animation: fadeIn 8s;
    animation-fill-mode: forwards;
    } */

    /* .python-icon {
        animation: spin 2s linear infinite;
    } */

    @keyframes spin {
        from {
            /* transform: rotateY(0deg) translate(0px, 0px) ; */
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg) ;


                }        
            }

        }

/* About */

.about {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
    /* margin: 32px auto;     */
    font-size: 1.1rem;
    font-family: 'Lato', Arial, sans-serif;  
    justify-content: center;
    font-weight: 300;
    /* background-color: var(--bg-offset); */
     /* #f7f7f7; */
    /* border-style: solid;     */
    width: 100%;
}

.about a {
    color: var(--text-color);
}   

.about-body, .hero-article {
    display: flex;
    margin: auto;     
    padding: 36px;
    width: 100%;
    flex-direction: column;
    /* border-style: solid; */
}

.about li {
    padding-top: 8px;
    }

#about-me article h2 {
    font-weight: 400;
    opacity: 0.8;
}

.about article {
    width: 100%;
    /* margin: 16px; */
    padding: 8px 8px;
    flex: 1;
    /* border-style: solid; */    
}

.bg-offset {
    background-color: var(--bg-offset);
}

.img-rounded {
    border-radius: 4px;
}

#skills li {
    display: inline;
    border-width: 1px;
    border-radius: 4px;
    padding: 4px 16px;
    line-height: 2;
    white-space: nowrap;
    background-color: var(--skills-bg);
    font-size: 1.1rem;
    opacity: 0.8;
    /* border-style: solid; */
}

.pics {
    display:flex;
}

.sap-svg {
    padding-top: 0px;
}

@media (min-width: 768px) {

    .about-body {
        padding: 48px 0;
        max-width: 700px;
        /* width: 100%; */
        /* border-style: solid; */
    }

    .about {
        max-width: 100%;
        margin: auto;
        padding: 48px 96px;
    }

    .mantras {
        display: flex;
        flex-direction: row;
        max-width: 700px;
        margin: auto;
        /* width: 100%; */
    }

    .mantra-art {
        margin: 0;
        /* border-style: solid; */

    }

    .about-img-quote {
        max-height: 320px;
        max-width: 100%;
        height: auto;
        /* height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-image: url('/Homework_wk2/img/pug.jpg'); */
        /* background-position-y:20px;  */ 

    }
    
    #skills articles {
        flex-direction: row;

    }
    

    

}

/* Portfolio */

/* 
#portfolio {
    display: flex;
    justify-content: center;
} */

.project-cards {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-self: center; */
    padding: 32px 32px;
    /* margin: 32px 16px; */
    /* border-style: solid; */
    margin: auto;
}

.card {
    /* flex: 1 200px; */
    /* display: flex; */
    /* flex-direction: column; */
    width: 66%;
    /* margin: 32px auto; */
    /* margin: 2.5% 2.5% 2.5% 2.5%;;        */
    padding: 32px 32px;
    /* margin: auto; */
    /* box-shadow: 2px 2px 4px; */
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 2s ease;
    margin: auto;
    margin-bottom: 32px;
    background-color: var(--card-bg-color);
}

.card h4 {
    margin: 8px 0;
}

.card img {
    border-radius: 4px;
    /* padding: 8px; */
    border-style: solid;
    border-color: #c3c3c3;

    /* box-shadow:  1px 4px 0px rgba(0, 0, 0, 0.2); */
    border-width: 1px;    
}

@media (min-width: 768px) {
    .project-cards {
        flex-direction: row;
        flex-wrap: wrap;
        /* text-align: center; */
        width: 60%;
        /* margin: 32px; */
        justify-content: space-around;
        /* padding: 16px; */
        /* border-style: solid; */
    }

    .card {
        /* flex: 2 200px; */
        width: 100%;
        /* justify-content: center; */
        margin: 16px;
        flex: 1 1 300px;
        min-width: 300px;
        max-height: 400px;
        max-width: 300px;
        /* border-style: solid; */
    }    
}    

.card:hover {
    transition: 0.9s;
    transform: scale(1.1); 
    
}

/* Contact form */

.google-map {
    position: relative;
    padding-bottom: 50%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0; 
    top: 0;
    position: absolute;
}

.contact-form h2 {
    padding: 56px 0 32px;
}

.contact-form p {
    padding: 16px 0;
}

#contact {
    padding: 32px 56px;
}

#contact-name {
    margin-top: 32px;
}
#contact input {
    /* margin-top: 32px; */
    margin-bottom: 16px; 
}

#contact input[type="submit"] {
    margin-top: 24px;
}

@media (min-width: 768px) {
 
    .contact-form {
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin-right: 56px; 
        flex: 1;
        align-self: top;
        font-size: 1.2rem;
    }

    #contact {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 32px;
        padding: 56px;
        justify-content: center;
    }

    .contact-form h2 {
        padding-top: 0px;
        font-size: 2rem;
    }

    .contact-form p {
        padding-top: 0;
        padding-bottom: 16px;
    }

    #contact input {
        margin-bottom: 16px; 
    }
    
    #contact input[type="submit"] {
        margin-top: 40px;
    }

    
    .google-map {
        padding: 50px;
        flex: 1;
        min-width: 300px;
        max-width: 600px;
        width: 100%;
    }

    .submit-btn {
        margin-top: 56px;
    }

}

.submit-btn, .about-btn {
    background-color: var(--submit-btn-bg-color);
    color: var(--submit-btn-color);
    border-radius: 4px;
    box-shadow: 2px 3px 3px var(--submit-btn-shadow);
    width: max-content;
    border: 0;
    cursor: pointer;
    padding: 4px 8px;
    transition: all 1s ease;
}

#contact input[type="submit"]:hover {
    background-color: var(--menu-on-color);
}

.contact-icons {
    display: flex;
}

.contact-icons li {
    padding: 16px;
}

/* .contact-form a {
    text-decoration: none;
} */
.contact-form a svg {
    height: 50px;
    /* background-color: var(--body-bg-color);  */
    color: var(--submit-btn-bg-color);
    transition: all 1s ease;
}

.contact-form a svg:hover {
    color: var(--menu-on-color);
}

footer {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

footer a {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

/* Utilities */


/* Use js to toggle show/hide the nav menu for mobile */
.display-none {
    display: none;
}

.no-underline {
    text-decoration: none;
}